.buttonForm button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  color: white;
  background-color: #635fc7;
  border: none;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.buttonForm button:last-child {
  margin-bottom: 0;
}
